/* General */
body {
    background-color: #f7fdfb;
    font-family: 'Inter', sans-serif;
}

/* Sidebar */
section[data-testid="stSidebar"] {
    background: white;
    border-right: 1px solid #e6f4ef;
}


/* Sidebar Logo */
.logo-box {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px 10px;
}

.logo-icon {
    width: 42px;
    height: 42px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.logo-text {
    font-size: 20px;
    font-weight: 700;
}

/* Menu Item */
.menu-item {
    padding: 14px 16px;
    border-radius: 12px;
    margin-bottom: 8px;
    font-weight: 500;
    cursor: pointer;
}

.menu-active {
    background: linear-gradient(90deg, #16c784, #14b87a);
    color: white;
}

/* Welcome */
.welcome-title {
    font-size: 34px;
    font-weight: 800;
}

/* Add Farm Button */
.add-farm {
    background: #14b87a;
    color: white;
    padding: 14px 22px;
    border-radius: 14px;
    font-weight: 600;
    float: right;
}

/* Metric Cards */
.card {
    background: white;
    border-radius: 22px;
    padding: 22px;
    height: 140px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    color: #6b7280;
    font-weight: 600;
}

.card-value {
    font-size: 34px;
    font-weight: 800;
    margin-top: 10px;
}

/* Chart Cards */
.chart-card {
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.04);
}

/* Footer User */
.user-box {
    position: fixed;
    bottom: 30px;
}
